.input {
    width: 600px;
    background-color: grey;
    padding: 10px;
    border: ridge 2px black;
}

.list {
    margin-top: 5px;
    width: 600px;
    height: 400px;
    background-color: white;
    padding: 10px;
    border: ridge 2px black;
}

#label-remover {
    display: inline;
    font-style: italic;
}